{% load static i18n wagtailcore_tags wagtailroutablepage_tags wagtailuserbar compress puput_tags %}
{% wagtailuserbar %}
<!DOCTYPE HTML>
<html>
    <head>
        <title>{% block title %}{{ blog_page.title }}{% if blog_page.description %} | {{ blog_page.description }}{% endif %}{% endblock title %}</title>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="title" content="{% block meta_title %}{% if blog_page.seo_title %}{{ blog_page.seo_title }}{% else %}{{ blog_page.title }}{% endif %}{% endblock meta_title %}"/>
        <meta name="description" content="{% block meta_description %}{{ blog_page.search_description }}{% endblock meta_description %}"/>
        {% block social_share %}{% endblock social_share %}
        <link rel="canonical" href="{% block canonical %}{% canonical_url %}{% endblock canonical %}"/>
        <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
        <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
        <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
        <!--[if lte IE 8]>
            <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-old-ie-min.css">
        <![endif]-->
        <!--[if gt IE 8]><!-->
        <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
        <!--<![endif]-->
        {% compress css %}
        <link rel="stylesheet" href="{% static 'puput/css/puput.css' %}"/>
        {% endcompress %}
    </head>
    <body>
        <div id="layout" class="pure-g">
            <div class="sidebar pure-u-1 pure-u-md-1-4">
                <div class="header">
                </div>
            </div>
        </div>
        <div class="sidebar pure-u-1 pure-u-md-1-4">
            <div class="header">
                <h1 class="brand-title"> <a href="{% pageurl blog_page %}">{{ blog_page.title }}</a> </h1>
                <h2 class="brand-tagline">{{ blog_page.description }}</h2>
                <nav class="nav">
                    <!-- TODO Add a footer again
                    <ul class="nav-list">
                        <li class="nav-item">
                            <a class="pure-button" href="http://purecss.io">Pure</a>
                        </li>
                        <li class="nav-item">
                            <a class="pure-button" href="http://yuilibrary.com">YUI Library</a>
                        </li>
                    </ul>
                    -->
                </nav>
                <!--
                <form name="search_form" class="search_form" method="get" action="{% routablepageurl blog_page "entries_search" %}">
                    <div class="input-group">
                        <input type="search" name="q" placeholder="{% trans 'Search' %}">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </form>
                -->
            </div>
        </div>
        <div class="content pure-u-1 pure-u-md-3-4">
            <div>
                <div class="posts">
                    {% block content %} {% endblock content %}
                    {% block extra_content %}{% endblock extra_content %}
                </div>
                <div class="footer">
                    <!-- TODO Add a footer again
                    <div class="pure-menu pure-menu-horizontal">
                        <ul>
                            <li class="pure-menu-item"><a href="http://purecss.io/" class="pure-menu-link">About</a></li>
                            <li class="pure-menu-item"><a href="http://twitter.com/yuilibrary/" class="pure-menu-link">Twitter</a></li>
                            <li class="pure-menu-item"><a href="http://github.com/yahoo/pure/" class="pure-menu-link">GitHub</a></li>
                        </ul>
                    </div>
                    -->
                </div>
            </div>
        </div>
        {% compress js %}
        {% block extra_js %}
        <script src="{% static 'puput/js/jquery.min.js' %}"></script>
        <script src="{% static 'puput/js/puput.js' %}"></script>
        {% endblock extra_js %}
        {% endcompress js %}
    </body>
</html>
