beautifulsoup4==4.5.1
Django==1.9.10
django-appconf==1.0.2
django-compressor==2.1
django-el-pagination==2.1.1
django-modelcluster==2.0
django-taggit==0.18.3
django-treebeard==4.0.1
djangorestframework==3.4.7
html5lib==0.999999
Pillow==3.4.1
# puput==0.7
pytz==2016.7
rcssmin==1.0.6
rjsmin==1.0.12
six==1.10.0
Unidecode==0.4.19
wagtail==1.6.3
Willow==0.3.1
