beautifulsoup4==4.5.1
Django==1.10.4
django-appconf==1.0.2
django-compressor==2.1
django-el-pagination==2.1.1
django-modelcluster==2.0
django-taggit==0.18.3
django-treebeard==4.1.0
djangorestframework==3.5.3
html5lib==0.999999999
mysqlclient==1.3.9
Pillow==3.4.2
-e git+https://github.com/knighthawk3/unite@3a8f2aee9aa916cd34c06ad129e97d5c551e797b#egg=puput&subdirectory=puput-unite
pytz==2016.10
rcssmin==1.0.6
requests==2.12.4
rjsmin==1.0.12
six==1.10.0
Unidecode==0.4.19
wagtail==1.8
webencodings==0.5
Willow==0.4
