{% load wagtailcore_tags %}

<div class="header">
    <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
        <a class="pure-menu-heading" href="/">Unite</a>
        <ul class="pure-menu-list">
            {% for menuitem in menuitems %}
            <li class="pure-menu-item {% if calling_page.url == menuitem.url %} pure-menu-selected {% endif %}">
                <a class="pure-menu-link" href="{% pageurl menuitem %}">{{ menuitem.title }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
